* text=auto eol=lf

*.bat   text eol=crlf
*.cmd   text eol=crlf

*.go    text eol=lf
*.vue   text eol=lf
*.js    text eol=lf
*.css   text eol=lf
*.html  text eol=lf
*.json  text eol=lf
*.md    text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf

# Legacy PS files: 已 BOM, 不要 git 改动
legacy/**/*.ps1   binary
